.job-marker {
  background: white;
  border-radius: 8px;
  padding: 6px 8px;
  box-shadow: 0 2px 6px rgba(155, 230, 255, 0.3);
  font-size: 12px;
  text-align: center;
}

.marker-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marker-category {
  font-weight: bold;
  margin-bottom: 4px;
}

.marker-button {
  background: #fff291;
  color: rgb(153, 139, 12);
  border: none;
  border-radius: 4px;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 11px;
}

.marker-button:hover {
  background: #f8fcc4;
}
