@import "tailwindcss";

:root {
  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@theme {
  --color-royalblue-main: #0028c7;
  --color-royalblue-tint1: #143ad0;
  --color-royalblue-tint2: #3657d9;
  --color-royalblue-tint3: #5977ef;
  --color-royalblue-tint4: #7a92f2;
  --color-royalblue-tint5: #a9baff;
  --color-royalblue-tint6: #d9e0ff;
  --color-royalblue-shade1: #062ab8;
  --color-royalblue-shade2: #092697;
  --color-royalblue-shade3: #031a75;
  --color-royalblue-shade4: #061659;
  --color-royalblue-shade5: #0e1a4d;
  --color-royalblue-shade6: #06113c;
  --gradient-main: linear-gradient(to right, #0026bd, #ff4489);
  --gradient-soft: linear-gradient(to right, #0026bd, #5977ef);
}

/* Override */

.hamburger-react {
  width: 30px;
}

.ant-otp-input {
  height: 40px;
  width: 40px;
}

.ant-collapse-header {
  padding: 0px !important;
}

.ant-collapse-content-box {
  padding-left: 10px !important;
}

@media (min-width: 450px) {
  .ant-otp-input {
    width: 50px;
    height: 50px;
  }
}

/* global */
.gradient-soft {
  background-image: linear-gradient(45deg, #eaebff, #fffbfd);
}

.bg-gradient-main {
  background-image: linear-gradient(to right, #0026bd, #ff4489);
}
